* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,
p {
    color: #658ec8;
    font-weight: 500;
    opacity: 0.8;

}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,
            #65dfc9,
            #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.glass {
    display: flex;
    background: white;
    min-height: 80vh;
    width: 1100px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem)
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0.5));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle1 {
    top: 20%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 2rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.link h2:hover {
    border-radius: 10px;
    padding: 10px 30px;
    text-shadow: -1px -1px #484746, -2px -2px #9a9a9a;
    box-shadow: 6px 6px 16px rgb(122 122 122 / 21%);
    color: #65bedf;
}

.link i {
    font-size: 40px;
    background: linear-gradient(to right top, #65bedf, #62d2e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link a {
    text-decoration: none;
}

.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
    position: relative;
    margin: 0px 30px 0px;
}

.proItemTwo img {
    position: absolute;
    top: -10%;
    right: 10%;
}

.proItemOne h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

/* progress */

.status {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.status input {
    background: linear-gradient(to right bottom,
            rgb(172 250 253 / 79%),
            rgb(226 255 255));
    border: none;
    width: 100%;
    padding: 0.5rem;
    padding-left: 18px;
    padding-right: 30px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: absolute;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    border: 1px solid #5b82a861;
    box-shadow: 6px 6px 16px rgb(122 122 122 / 21%);
    outline: none;
}

.hasib {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 250px;
}

i.fas.fa-search {
    position: absolute;
    /* left: 0; */
    top: 6px;
    right: 10px;
    font-size: 19px;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem;
}

.card {
    display: flex;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}

#cardItemOne {}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    position: relative;
    overflow: hidden;
}

#talha {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    position: relative;
    overflow: hidden;
}

#talha::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}

#abdul {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    position: relative;
    overflow: hidden;
}

#abdul::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 30%;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 90%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
}

